#THEORY

#1: What are data structures, and why are they important?
ANS: Data structures are ways of organizing and storing data in a computer so that it can be accessed and modified efficiently.
Efficiency: The right structure improves speed and memory usage.

Scalability: Essential for handling large amounts of data.

Code Quality: Leads to cleaner, easier-to-maintain code.

Problem Solving: Many algorithms rely on specific structures to work correctly.

#2: Explain the difference between mutable and immutable data types with examples
ANS: Mutable Data Types
These can be changed after they're created.
my_list = [10, 20, 30]
my_list.append(40)
print(my_list)  
# Output: [10, 20, 30, 40]
 Immutable Data Types
These cannot be changed after they're created. Any modification results in a new object.
EXAMPLE: Strings

Tuples

Integers

Floats

Booleans

#3: What are the main differences between lists and tuples in Python
ANS:  A list in Python is an ordered collection of items that is mutable, meaning its contents can be changed after creation.
Tuples is an ordered collection of items that is immutable, meaning its contents cannot be changed after creation.

#4: Describe how dictionaries store data
ANS: dictionaries are implemented using hash tables, which allow for efficient data retrieval. Here's how they store data:

Hash Tables
Structure: A hash table is an array of fixed size, divided into "buckets." Each bucket can hold multiple key-value pairs.

Hashing: When a key-value pair is added, Python computes a hash value for the key using the hash() function. This hash value determines the index in the hash table where the pair should be stored.
Handling Collisions: If two keys hash to the same index (a collision), Python resolves this by probing—searching for the next available slot using a specific algorithm.

Resizing: To maintain efficiency, Python resizes the hash table when it becomes too full, typically when it reaches two-thirds capacity. This involves creating a new, larger table and rehashing existing keys to new indices.

#5: Why might you use a set instead of a list in Python
ANS: A set is a built-in data structure in Python that stores unordered, unique elements. You might choose a set over a list for a few key reasons
Sets automatically remove duplicates.
Sets use hash tables, making in checks much faster than lists.
Sets support powerful math-style operations:

Union (|)

Intersection (&)

Difference (-)

Symmetric Difference (^)

#6: What is a string in Python, and how is it different from a list?
ANS: A string in Python is a sequence of characters enclosed in quotes (single ' ', double " ", or triple ''' ''').
STRING: Sequence of characters, Immutable (cannot be changed), Only characters (or unicode text)
LIST: Sequence of any data types, Mutable (can be changed), Can contain mixed types (int, str, etC)

#7: How do tuples ensure data integrity in Python
ANS: A tuple is an immutable sequence type in Python, meaning once it’s created, it cannot be changed. This immutability is what helps tuples ensure data integrity.

#8: What is a hash table, and how does it relate to dictionaries in Python
ANS: A hash table is a data structure that stores data in key-value pairs. It uses a hash function to map the key to a specific index in an array or list, where the corresponding value is stored. This allows for very fast lookups, insertions, and deletions.

In Python, dictionaries are implemented using hash tables. When you create a dictionary, Python internally uses a hash table to map keys to their values.

#9: Can lists contain different data types in Python
Ans: Python lists are very flexible, so you can mix and match types however you want.

#10: Explain why strings are immutable in Python
Ans: Strings are immutable in Python because once a string is created, it cannot be changed—any operation that modifies a string actually creates a new string

#11: What advantages do dictionaries offer over lists for certain tasks
Ans: Dictionaries give you O(1) time complexity for looking up values by key.

Lists require scanning through elements to find what you need — O(n) time.

Dicts let you label data with descriptive keys, not just index numbers.

Much easier to understand, especially for structured data.

#12:  Describe a scenario where using a tuple would be preferable over a list
Ans: Imagine you're building a map application, and you want to store fixed (latitude, longitude) points. Since these values shouldn’t be modified, a tuple is perfect

#13: How do sets handle duplicate values in Python
Ans: A set is an unordered collection of unique elements. If you try to add duplicates, Python just silently ignores them.

#14: How does the “in” keyword work differently for lists and dictionaries
Ans: The in keyword checks if a value exists in the list.
The in keyword checks if a key exists in the dictionary — not the value.

#15: Can you modify the elements of a tuple? Explain why or why not
Ans: No, you can't modify the elements of a tuple — because tuples are immutable in Python.

#16: What is a nested dictionary, and give an example of its use case
Ans: A nested dictionary is a dictionary where the values themselves are dictionaries. In other words, it's a dictionary that contains one or more dictionaries as its values.

It’s like having a dictionary within a dictionary you can use it to represent more complex data structures.

school = {
    "student1": {
        "name": "Alice",
        "age": 15,
        "grades": {
            "math": 90,
            "science": 85,
            "english": 92
        }
    },
    "student2": {
        "name": "Bob",
        "age": 16,
        "grades": {
            "math": 88,
            "science": 82,
            "english": 89
        }
    }
}

#17: Describe the time complexity of accessing elements in a dictionary
Ans: When you access an element in a dictionary using a key (like my_dict[key]), the operation is amortized constant time: O(1).

This means that accessing a value by key in a dictionary takes roughly the same amount of time, regardless of how many elements the dictionary contains.

#18: In what situations are lists preferred over dictionaries
Ans: Lists are ordered collections, meaning the order of elements is preserved. If you need to maintain the sequence of items, or you need to access elements by their index, then a list is your go-to choice.

#19: Why are dictionaries considered unordered, and how does that affect data retrieval
Ans: In Python, dictionaries are considered unordered because, internally, they don’t guarantee any specific order for their elements.

This is because dictionaries are implemented using hash tables, where each key-value pair is placed into the table based on the hash value of the key. The order in which items are inserted does not necessarily affect how they are stored or retrieved.

#20: Explain the difference between a list and a dictionary in terms of data retrieval.
Ans: Ordered Data: A list is an ordered collection of items. This means that each item in a list has a specific position or index, starting from 0.

Access by Index: To retrieve an element from a list, you use the index of the item. This is done using square brackets, like my_list[0].

Unordered Data (but insertion order is preserved in Python 3.7+): A dictionary is an unordered collection of key-value pairs. This means there is no inherent order to the data, but starting from Python 3.7, dictionaries preserve the insertion order during iteration.

Access by Key: To retrieve a value from a dictionary, you use the key. This is done using square brackets, like my_dict["key"].

#Practical Questions

In [1]:
#1: Write a code to create a string with your name and print itP

# Creating a string with your name
my_name = "Arun"

# Printing the string
print("My name is", my_name)

My name is Arun

In [2]:
#2: Write a code to find the length of the string "Hello World
# Defining the string
my_string = "Hello World"

# Finding the length of the string
length_of_string = len(my_string)

# Printing the length
print("The length of the string is:", length_of_string)

The length of the string is: 11

In [3]:
#3:  Write a code to slice the first 3 characters from the string "Python Programming"P
# Defining the string
my_string = "Python Programming"

# Slicing the first 3 characters
sliced_string = my_string[:3]

# Printing the sliced string
print("The first 3 characters are:", sliced_string)

The first 3 characters are: Pyt

In [4]:
#4: Write a code to convert the string "hello" to uppercaseP
# Defining the string
my_string = "hello"

# Converting the string to uppercase
uppercase_string = my_string.upper()

# Printing the uppercase string
print("The uppercase version is:", uppercase_string)

The uppercase version is: HELLO

In [5]:
#5: Write a code to replace the word "apple" with "orange" in the string "I like apple"
# Defining the string
my_string = "I like apple"

# Replacing "apple" with "orange"
updated_string = my_string.replace("apple", "orange")

# Printing the updated string
print("Updated string:", updated_string)

Updated string: I like orange

In [6]:
#6: Write a code to create a list with numbers 1 to 5 and print it
# Creating the list with numbers 1 to 5
my_list = [1, 2, 3, 4, 5]

# Printing the list
print("The list is:", my_list)

The list is: [1, 2, 3, 4, 5]

In [7]:
#7: Write a code to append the number 10 to the list [1, 2, 3, 4]
# Defining the list
my_list = [1, 2, 3, 4]

# Appending the number 10 to the list
my_list.append(10)

# Printing the updated list
print("The updated list is:", my_list)

The updated list is: [1, 2, 3, 4, 10]

In [8]:
#8: Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]
# Defining the list
my_list = [1, 2, 3, 4, 5]

# Removing the number 3 from the list
my_list.remove(3)

# Printing the updated list
print("The updated list is:", my_list)

The updated list is: [1, 2, 4, 5]

In [9]:
#9: Write a code to access the second element in the list ['a', 'b', 'c', 'd']
# Defining the list
my_list = ['a', 'b', 'c', 'd']

# Accessing the second element (index 1)
second_element = my_list[1]

# Printing the second element
print("The second element is:", second_element)

The second element is: b

In [10]:
#10: Write a code to reverse the list [10, 20, 30, 40, 50].
# Defining the list
my_list = [10, 20, 30, 40, 50]

# Reversing the list
my_list.reverse()

# Printing the reversed list
print("The reversed list is:", my_list)

The reversed list is: [50, 40, 30, 20, 10]

In [11]:
#11:  Write a code to create a tuple with the elements 100, 200, 300 and print it
# Creating the tuple
my_tuple = (100, 200, 300)

# Printing the tuple
print("The tuple is:", my_tuple)

The tuple is: (100, 200, 300)

In [12]:
#12: Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
# Defining the tuple
my_tuple = ('red', 'green', 'blue', 'yellow')

# Accessing the second-to-last element
second_to_last_element = my_tuple[-2]

# Printing the second-to-last element
print("The second-to-last element is:", second_to_last_element)

The second-to-last element is: blue

In [13]:
#13:  Write a code to find the minimum number in the tuple (10, 20, 5, 15)
# Defining the tuple
my_tuple = (10, 20, 5, 15)

# Finding the minimum number in the tuple
min_number = min(my_tuple)

# Printing the minimum number
print("The minimum number in the tuple is:", min_number)

The minimum number in the tuple is: 5

In [14]:
#14: Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')
# Defining the tuple
my_tuple = ('dog', 'cat', 'rabbit')

# Finding the index of the element "cat"
index_of_cat = my_tuple.index('cat')

# Printing the index
print("The index of 'cat' in the tuple is:", index_of_cat)

The index of 'cat' in the tuple is: 1

In [15]:
#15:  Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
# Creating a tuple with three different fruits
fruits_tuple = ('apple', 'banana', 'cherry')

# Checking if "kiwi" is in the tuple
is_kiwi_in_tuple = "kiwi" in fruits_tuple

# Printing the result
print("Is 'kiwi' in the tuple?", is_kiwi_in_tuple)

Is 'kiwi' in the tuple? False

In [16]:
#16: Write a code to create a set with the elements 'a', 'b', 'c' and print it.
# Creating the set
my_set = {'a', 'b', 'c'}

# Printing the set
print("The set is:", my_set)

The set is: {'c', 'a', 'b'}

In [17]:
#17: Write a code to clear all elements from the set
# Creating the set
my_set = {'a', 'b', 'c'}

# Clearing all elements from the set
my_set.clear()

# Printing the set after clearing
print("The set after clearing all elements:", my_set)

The set after clearing all elements: set()

In [18]:
#18: Write a code to remove the element 4 from the set {1, 2, 3, 4}.
# Creating the set
my_set = {1, 2, 3, 4}

# Removing the element 4 from the set
my_set.remove(4)

# Printing the set after removal
print("The set after removing 4:", my_set)

The set after removing 4: {1, 2, 3}

In [19]:
#19: Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}
# Defining the two sets
set1 = {1, 2, 3}
set2 = {3, 4, 5}

# Finding the union of the two sets
union_set = set1.union(set2)

# Printing the union of the sets
print("The union of the sets is:", union_set)

The union of the sets is: {1, 2, 3, 4, 5}

In [20]:
#20: Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
# Defining the two sets
set1 = {1, 2, 3}
set2 = {2, 3, 4}

# Finding the intersection of the two sets
intersection_set = set1.intersection(set2)

# Printing the intersection of the sets
print("The intersection of the sets is:", intersection_set)

The intersection of the sets is: {2, 3}

In [22]:
#21:  Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
# Creating the dictionary
my_dict = {
    "name": "Alice",
    "age": 25,
    "city": "New York"
}

# Printing the dictionary
print("The dictionary is:", my_dict)

The dictionary is: {'name': 'Alice', 'age': 25, 'city': 'New York'}

In [21]:
#22:  Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
# Defining the dictionary
my_dict = {'name': 'John', 'age': 25}

# Adding a new key-value pair
my_dict['country'] = 'USA'

# Printing the updated dictionary
print("The updated dictionary is:", my_dict)

The updated dictionary is: {'name': 'John', 'age': 25, 'country': 'USA'}

In [23]:
#23: Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
# Defining the dictionary
my_dict = {'name': 'Alice', 'age': 30}

# Accessing the value associated with the key "name"
name_value = my_dict['name']

# Printing the value
print("The value associated with the key 'name' is:", name_value)

The value associated with the key 'name' is: Alice

In [24]:
#24: Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}
# Defining the dictionary
my_dict = {'name': 'Bob', 'age': 22, 'city': 'New York'}

# Removing the key "age" from the dictionary
del my_dict['age']

# Printing the updated dictionary
print("The updated dictionary is:", my_dict)

The updated dictionary is: {'name': 'Bob', 'city': 'New York'}

In [26]:
#25: Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
# Defining the dictionary
my_dict = {'name': 'Alice', 'city': 'Paris'}

# Checking if the key "city" exists in the dictionary
if 'city' in my_dict:
    print("The key 'city' exists in the dictionary.")
else:
    print("The key 'city' does not exist in the dictionary.")

The key 'city' exists in the dictionary.

In [27]:
#26: Write a code to create a list, a tuple, and a dictionary, and print them all
# Creating a list
my_list = [1, 2, 3, 4, 5]

# Creating a tuple
my_tuple = ('apple', 'banana', 'cherry')

# Creating a dictionary
my_dict = {'name': 'Alice', 'age': 30, 'city': 'New York'}

# Printing the list, tuple, and dictionary
print("The list is:", my_list)
print("The tuple is:", my_tuple)
print("The dictionary is:", my_dict)

The list is: [1, 2, 3, 4, 5]
The tuple is: ('apple', 'banana', 'cherry')
The dictionary is: {'name': 'Alice', 'age': 30, 'city': 'New York'}

In [28]:
#27: Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
# result.(replaced)
import random

# Creating a list of 5 random numbers between 1 and 100
random_numbers = [random.randint(1, 100) for _ in range(5)]

# Sorting the list in ascending order
random_numbers.sort()

# Printing the sorted list
print("The sorted list of random numbers is:", random_numbers)

The sorted list of random numbers is: [30, 32, 87, 89, 97]

In [29]:
#28. Write a code to create a list with strings and print the element at the third index.
# Creating a list of strings
my_list = ['apple', 'banana', 'cherry', 'date', 'elderberry']

# Accessing the element at the third index (index 3)
third_index_element = my_list[3]

# Printing the element at the third index
print("The element at the third index is:", third_index_element)

The element at the third index is: date

In [30]:
#29:  Write a code to combine two dictionaries into one and print the result.
# Defining two dictionaries
dict1 = {'name': 'Alice', 'age': 30}
dict2 = {'city': 'New York', 'job': 'Engineer'}

# Combining the two dictionaries
combined_dict = {**dict1, **dict2}

# Printing the combined dictionary
print("The combined dictionary is:", combined_dict)

The combined dictionary is: {'name': 'Alice', 'age': 30, 'city': 'New York', 'job': 'Engineer'}

In [31]:
#30: Write a code to convert a list of strings into a set
# Creating a list of strings
my_list = ['apple', 'banana', 'cherry', 'apple', 'banana']

# Converting the list to a set
my_set = set(my_list)

# Printing the set
print("The set is:", my_set)

The set is: {'apple', 'banana', 'cherry'}